@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@500;700;900&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&display=swap');

:root {
  --typography-font-family-heading: Montserrat;
  --typography-font-family-paragraph: Lato;
  --h6-text-size: 20px;
  --h6-line-height: 28px;
  --paragraph-lg-text-size: 18px;
  --paragraph-lg-line-height: 28px;
  --paragraph-md-text-size: 16px;
  --paragraph-md-line-height: 24px;
  --paragraph-sm-text-size: 14px;
  --paragraph-sm-line-height: 20px;
  --button-icon-gap-xs: 4px;
  --button-padding-x-lg: 20px;
  --button-padding-y-lg: 12px;
  --button-padding-x-md: 16px;
  --button-padding-y-md: 8px;
  --button-padding-x-sm: 12px;
  --button-padding-y-sm: 6px;
  --radius-round: 9999px;
  --radius-lg: 12px;
  --border-width-xs-1: 1px;
  --border-width-xs-2: 2px;
  --button-disabled-opacity: 40%;
  --button-primary-focus-ring: #aa86e4;
  --button-secondary-focus-ring: #aa86e4;

  --surface-page: #f2f4f7;
  --surface-default: #ffffff;
  --icon-brand-default: #3a1971;
  --background-brand-subtle-brand: #eee6fa;
  --text-neutral-primary: #364154;
  --text-neutral-secondary: #5f6a81;
  --text-neutral-inverse: #f9fafb;
  --border-neutral-default-secondary: #c7ced9;

  --button-primary-filled-icon: #f9fafb;
  --button-primary-filled-text: #f9fafb;
  --button-primary-filled-bg-default: #3a1971;
  --button-primary-filled-bg-hover: #4a208f;
  --button-primary-filled-bg-pressed: #30145c;
  --button-primary-outline-icon: #3a1971;
  --button-primary-outline-text: #3a1971;
  --button-primary-outline-border: #3a1971;
  --button-primary-outline-bg-hover: #eee6fa;
  --button-primary-outline-bg-pressed: #d3c0f1;
  --button-primary-transparent-icon-default: #3a1971;
  --button-primary-transparent-text-default: #3a1971;
  --button-primary-transparent-icon-hover: #5b27af;
  --button-primary-transparent-text-hover: #5b27af;
  --button-primary-transparent-icon-pressed: #3a1971;
  --button-primary-transparent-text-pressed: #3a1971;

  --button-secondary-filled-icon: #f9fafb;
  --button-secondary-filled-text: #f9fafb;
  --button-secondary-filled-bg-default: #a82675;
  --button-secondary-filled-bg-hover: #8c1f61;
  --button-secondary-filled-bg-pressed: #6f184d;
  --button-secondary-outline-icon: #a82675;
  --button-secondary-outline-text: #a82675;
  --button-secondary-outline-border: #a82675;
  --button-secondary-outline-bg-hover: #f9e6f2;
  --button-secondary-outline-bg-pressed: #f3cde4;
  --button-secondary-transparent-icon-default: #a82675;
  --button-secondary-transparent-text-default: #a82675;
  --button-secondary-transparent-icon-hover: #c13c92;
  --button-secondary-transparent-text-hover: #c13c92;
  --button-secondary-transparent-icon-pressed: #a82675;
  --button-secondary-transparent-text-pressed: #a82675;

  --button-success-filled-icon: #f9fafb;
  --button-success-filled-text: #f9fafb;
  --button-success-filled-bg-default: #529219;
  --button-success-filled-bg-hover: #448214;
  --button-success-filled-bg-default: #529219;
  --button-success-outline-icon: #448214;
  --button-success-outline-text: #448214;
  --button-success-outline-border: #529219;
  --button-success-outline-bg-hover: #f4fdee;
  --button-success-outline-bg-pressed: #ddf3c9;
  --button-success-transparent-icon-default: #448214;
  --button-success-transparent-text-default: #448214;
  --button-success-transparent-icon-hover: #35660e;
  --button-success-transparent-text-hover: #35660e;
  --button-success-transparent-icon-pressed: #448214;
  --button-success-transparent-text-pressed: #448214;

  --button-danger-filled-icon: #f9fafb;
  --button-danger-filled-text: #f9fafb;
  --button-danger-filled-bg-default: #d00132;
  --button-danger-filled-bg-hover: #b30e2f;
  --button-danger-filled-bg-pressed: #8e0d28;
  --button-danger-outline-icon: #d00132;
  --button-danger-outline-text: #d00132;
  --button-danger-outline-border: #d00132;
  --button-danger-outline-bg-hover: #fce1e6;
  --button-danger-outline-bg-pressed: #f8c6cf;
  --button-danger-transparent-icon-default: #d00132;
  --button-danger-transparent-text-default: #d00132;
  --button-danger-transparent-icon-hover: #b30e2f;
  --button-danger-transparent-text-hover: #b30e2f;
  --button-danger-transparent-icon-pressed: #d00132;
  --button-danger-transparent-text-pressed: #d00132;

  --button-warning-filled-icon: #ffffff;
  --button-warning-filled-text: #ffffff;
  --button-warning-filled-text-hover: #ffffff;
  --button-warning-filled-bg-default: #f2ac32;
  --button-warning-filled-bg-hover: #f99f1b;
  --button-warning-filled-bg-pressed: #d88916;
  --button-warning-outline-icon: #f99f1b;
  --button-warning-outline-text: #f99f1b;
  --button-warning-outline-border: #f99f1b;
  --button-warning-outline-icon-hover: #b37112;
  --button-warning-outline-text-hover: #b37112;
  --button-warning-outline-bg-hover: #fef5e6;
  --button-warning-outline-bg-pressed: #fdebd0;
  --button-warning-transparent-icon-default: #f99f1b;
  --button-warning-transparent-text-default: #f99f1b;
  --button-warning-transparent-icon-hover: #b37112;
  --button-warning-transparent-text-hover: #b37112;
  --button-warning-transparent-icon-pressed: #f99f1b;
  --button-warning-transparent-text-pressed: #f99f1b;

  --button-discovery-filled-icon: #f9fafb;
  --button-discovery-filled-text: #f9fafb;
  --button-discovery-filled-bg-default: #2fa9bc;
  --button-discovery-filled-bg-hover: #1f8796;
  --button-discovery-filled-bg-pressed: #166672;
  --button-discovery-outline-icon: #1f8796;
  --button-discovery-outline-text: #1f8796;
  --button-discovery-outline-border: #1f8796;
  --button-discovery-outline-bg-hover: #eef9fc;
  --button-discovery-outline-bg-pressed: #dff5f9;
  --button-discovery-transparent-icon-default: #1f8796;
  --button-discovery-transparent-text-default: #1f8796;
  --button-discovery-transparent-icon-hover: #2fa9bc;
  --button-discovery-transparent-text-hover: #2fa9bc;
  --button-discovery-transparent-icon-pressed: #1f8796;
  --button-discovery-transparent-text-pressed: #1f8796;

  --button-subtle-filled-icon: #364154;
  --button-subtle-filled-text: #364154;
  --button-subtle-filled-bg-default: #f2f4f7;
  --button-subtle-filled-bg-hover: #e6eaf0;
  --button-subtle-filled-bg-pressed: #c7ced9;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
}